modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "server.js"]

[userenv]

[userenv.shared]
ADMIN_KEY = "pooly_admin_2026_xR9mQ8vL4nP2wZ8885n"
AGENT_JWT_SECRET = "pooly_jwt_2026_kT7nM9xL2qW7pR4mZ8883"
SUPABASE_URL = "https://txudnxchbsruohnstznk.supabase.co"
SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4dWRueGNoYnNydW9obnN0em5rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE2NjU5ODIsImV4cCI6MjA3NzI0MTk4Mn0.buWxGSci7tYHM-DPtXoronTgEKOhID0JyaIwx-pNMvk"
LITHIC_API_KEY = "b931a00b-fb14-4d81-b6fa-ec5153f87153"
MODERN_TREASURY_API_KEY = "publishable-test-OTRkOGNiNWYtMzZjNy00YjU2LWIyZjMtZmRjNGIwNWNmNzhlOkxrVW1zZ0dqQ1gySHk0WEFWeERZd1dRVE5LWGpLU0NWRFNMWmJWd0RQTjFicWlrNEtrOW9EeXNTVkxxNjRBcXM="
STRIPE_SECRET_KEY = "sJ_test_51KncHmWrJIoYcXBM0YKhH9bg9d3xe6AR 8jVGKwJ1H3zXc4B0uP86gny1sqcJVicf1YwpIAUt0 jGDKTyL9wFXmT0062PbJC1a"
MODERN_TREASURY_ORG_ID = "7e7f7655-25ec-4ff6-87fe-e1735f14ad87"
PROVIDER_STRIPE = "true"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR4dWRueGNoYnNydW9obnN0em5rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MTY2NTk4MiwiZXhwIjoyMDc3MjQxOTgyfQ.Iw-AKEvlA9iF3ue_CfKQ52_G74agYmhhsfyiu_i3tD8"
